<ion-header>
  <ion-navbar>
    <ion-title>
      MyChoiceBanking
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding ng-controller="">
  <p>This application is an unofficial client for the Mortgage Choice <i>banking</i> interface, which is backed by Maquarie Bank.</p>
  <p>This is an experiment with the IONIC framework and should be used at <b>your own risk</b></p>
  <form name="login" (ngSubmit)="login()" #loginForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label>Account Id</ion-label>
          <ion-input type="text" [(ngModel)]="credentials.accountid" name="accountid" required ng-pattern="/^\d+$/"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" [(ngModel)]="credentials.password" name="password" required></ion-input>
        </ion-item>
      </ion-list>
      <button ion-item block color="primary" type="submit" [disabled]="!loginForm.form.valid">Log in</button>
  </form>
</ion-content>
